<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigateBack()">
      <ion-button shape="round" slot="icon-only">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding vwc-card-container">
    <!-- warranty card -->
    <ion-card (click)="navCardDetails()">
      <img src="../../assets/images/04162020_iPhone_SE_STORY_LEVEL_BANNER_1600x483.jpg" class="card-bg-image">
      <ion-row id="warrantyCard">
        <span *ngIf="isQrCodeSizeUpdated == false"> {{updateQrCodeWidth()}}</span>
        <ion-col sizeXs="4" sizeSm="5" sizeMd="4" class="qr-info">
          <qrcode [qrdata]="qrCode" [errorCorrectionLevel]="'M'" class="custom-qr" [width]="qrCodeWidth" [margin]="1">
          </qrcode>
          <span>125412586ED</span>
        </ion-col>
        <ion-col sizeXs="8" sizeSm="7" sizeMd="8">
          <div style="margin-left: 10px;">
            <h3>Warranty Card</h3>  
            <p>125412586ED</p>
            <p class="card-status-active">Active</p>
            <br>
            <p style="font-weight: 700; color: #4d4a4a">Excel E100 Charger</p>
            <table>
              <tr>
                <td>Brand </td>
                <td>: RIMLO</td>
              </tr>
              <tr>
                <td>Purchase </td>
                <td>: 20-01-2014</td>
              </tr>
              <tr>
                <td>Expire </td>
                <td>: 20-01-2014</td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <img src="../../assets/images/04162020_iPhone_SE_STORY_LEVEL_BANNER_1600x483.jpg" class="card-bg-image">
      <ion-row id="warrantyCard">
        <span *ngIf="isQrCodeSizeUpdated == false"> {{updateQrCodeWidth()}}</span>
        <ion-col sizeXs="4" sizeSm="5" sizeMd="4" class="qr-info"> 
          <qrcode [qrdata]="qrCode" [errorCorrectionLevel]="'M'" class="custom-qr" [width]="qrCodeWidth" [margin]="1">
          </qrcode>
          <span>125412586ED</span>
        </ion-col>
        <ion-col sizeXs="8" sizeSm="7" sizeMd="8">
          <div style="margin-left: 10px;">
            <h3>Warranty Card</h3>  
            <p>125412586ED</p>
            <p class="card-status-inactive">Expired</p>
            <br>
            <p style="font-weight: 700; color: #4d4a4a">Excel E100 Charger</p>
            <table>
              <tr>
                <td>Brand </td>
                <td>: RIMLO</td>
              </tr>
              <tr>
                <td>Purchase </td>
                <td>: 20-01-2014</td>
              </tr>
              <tr>
                <td>Expire </td>
                <td>: 20-01-2014</td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <img src="../../assets/images/04162020_iPhone_SE_STORY_LEVEL_BANNER_1600x483.jpg" class="card-bg-image">
      <ion-row id="warrantyCard">
        <span *ngIf="isQrCodeSizeUpdated == false"> {{updateQrCodeWidth()}}</span>
        <ion-col sizeXs="4" sizeSm="5" sizeMd="4" class="qr-info"> 
          <qrcode [qrdata]="qrCode" [errorCorrectionLevel]="'M'" class="custom-qr" [width]="qrCodeWidth" [margin]="1">
          </qrcode>
          <span>125412586ED</span>
        </ion-col>
        <ion-col sizeXs="8" sizeSm="7" sizeMd="8">
          <div style="margin-left: 10px;">
            <h3>Warranty Card</h3>  
            <p>125412586ED</p>
            <p class="card-status-active">Active</p>
            <br>
            <p style="font-weight: 700; color: #4d4a4a">Excel E100 Charger</p>
            <table>
              <tr>
                <td>Brand </td>
                <td>: RIMLO</td>
              </tr>
              <tr>
                <td>Purchase </td>
                <td>: 20-01-2014</td>
              </tr>
              <tr>
                <td>Expire </td>
                <td>: 20-01-2014</td>
              </tr>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>