h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


.card-bg-image {
    opacity: 15%;
    object-fit: cover;
    object-position: 100% 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
  }

  .custom-qr {
    height: auto;
    /* Set your desired height */
    width: auto;
    /* Width adjusts automatically */
  }

  .card-status-active {
    background: #1a73e8;
    color: #fff;
    width: 80px;
    padding: 2px;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .card-status-inactive {
    background: #cc0505;
    color: #fff;
    width: 80px;
    padding: 2px;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }