<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigateHome()">
      <ion-button shape="round" slot="icon-only">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding card-container">

    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <div class="order-item ion-margin-top">
            <ion-label>Order# .999012</ion-label>
            <span style="font-size: 12px; margin-bottom: 0px;">20-Dec-2023, 3:00 PM</span>
            <p color="primary">Delivered at 22-Dec-2023</p>
          </div>
        </ion-item>
        <div slot="content">


          <ion-item *ngFor="let item of cart">
            <ion-avatar slot="start">
              <img src="../../assets/images/product01.jpg" />
            </ion-avatar>
            <ion-label>{{item.name }}
              <P>৳{{item.price}} x {{item.quantity}} = ৳{{item.totalPrice}}</P>
            </ion-label>
          </ion-item>

          <ion-label>Total- ৳{{cartTotal}}</ion-label>
        </div>
      </ion-accordion>
      <ion-accordion>
        <ion-item slot="header">
          <div class="order-item ion-margin-top">
            <ion-label>Order# .999012</ion-label>
            <span style="font-size: 12px; margin-bottom: 0px;">20-Dec-2023, 3:00 PM</span>
            <p color="warning">Delivered at 22-Dec-2023</p>
          </div>
        </ion-item>
        <div slot="content">


          <ion-item *ngFor="let item of cart">
            <ion-avatar slot="start">
              <img src="../../assets/images/product01.jpg" />
            </ion-avatar>
            <ion-label>{{item.name }}
              <P>৳{{item.price}} x {{item.quantity}} = ৳{{item.totalPrice}}</P>
            </ion-label>
          </ion-item>

          <ion-label>Total- ৳{{cartTotal}}</ion-label>
        </div>
      </ion-accordion>
      <ion-accordion>
        <ion-item slot="header">
          <div class="order-item ion-margin-top">
            <ion-label>Order# .999012</ion-label>
            <span style="font-size: 12px; margin-bottom: 0px;">20-Dec-2023, 3:00 PM</span>
            <p color="primary">Delivered at 22-Dec-2023</p>
          </div>
        </ion-item>
        <div slot="content">


          <ion-item *ngFor="let item of cart">
            <ion-avatar slot="start">
              <img src="../../assets/images/product01.jpg" />
            </ion-avatar>
            <ion-label>{{item.name }}
              <P>৳{{item.price}} x {{item.quantity}} = ৳{{item.totalPrice}}</P>
            </ion-label>
          </ion-item>

          <ion-label>Total- ৳{{cartTotal}}</ion-label>
        </div>
      </ion-accordion>
      
    </ion-accordion-group>

    


  </div>
</ion-content>