
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.product-details{
  display: flex;
  flex-direction: column;
}

ion-card{
  padding: 10px;
}

.input-item {
  // --highlight-color-focused: #000000;
  --background: #ffffff;
  --border-color: #c4c4c4;
  --padding-start: 10px;
  --padding-end: 10px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  .product-details {
    align-items: center;
  }
}
