<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigateBack()">
      <ion-button shape="round" slot="icon-only">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>card-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  

  <ion-row>
    <ion-col sizeSm="6" size="12">
      <ion-img src="../../assets/images/product02.jpg"></ion-img>
    </ion-col>
    <ion-col sizeSm="6" size="12">
      <ion-label>{{product[0].name}}</ion-label>
      <h4>{{product[0].description}}</h4>
      <p>{{product[0].price}}</p>
    </ion-col>
  </ion-row>

</ion-card>
</ion-content>
