
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.product-details{
  display: flex;
  flex-direction: column;
}

ion-card{
  padding: 10px;
}

@media (max-width: 992px) {
  .product-details {
    align-items: center;
  }
}
