
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.product-details{
  display: flex;
  flex-direction: column;
}

ion-card{
  padding: 10px;
}

.input-item {
  // --highlight-color-focused: #000000;
  --background: #ffffff;
  --border-color: #c4c4c4;
  --padding-start: 10px;
  --padding-end: 10px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  .product-details {
    align-items: center;
  }
}
ion-select-popover:host{
  width: 500px !important;
}

:host {
  --width: 500px !important;
  --max-height: 90%;
  --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}