<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Warranty Card</ion-title>
      <ion-buttons slot="end">
        <ion-button shape="round" fill="clear">
          <ion-icon slot="icon-only" name="cart-sharp" id="open-modal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="profile-dropdown" *ngIf="isDropdownActive">
      <div class="profile-header">
        <ion-icon name="person-circle-outline" style="color: black;"></ion-icon>
        <div class="profile-info">
          <h2>Saifur Rahman</h2>
          <p>saifur&#64;gmail.com</p>
        </div>
      </div>
      <hr>
      <p><fa-icon [icon]="icons.faRotateRight"></fa-icon> Refresh</p>
      <p><fa-icon [icon]="icons.faGear"></fa-icon> Setting</p>
      <p (click)="logout()"><fa-icon [icon]="icons.faArrowRightFromBracket"></fa-icon> Logout</p>
    </div>
    <div class="ion-padding card-container">
      <div class="card" style="background-color: rgb(235, 235, 235);" *ngIf="false">
        <div class="profile-header">
          <ion-icon name="person-circle-outline"></ion-icon>
          <div class="profile-info">
            <h2>Tarik Bin Mashud</h2>
            <p>01752123140</p>
          </div>
        </div>

        <div class="status-section">
          <h1>Platinum Star</h1>
          <p>In GP Network Since:</p>
          <p>Oct, 2017</p>
        </div>

        <div class="rewards-section">
          <ion-button expand="block" shape="round" color="light">View Rewards</ion-button>
          <div class="network-info">
            <span class="badge">Prepaid</span>
            <span class="badge">4G</span>
          </div>
        </div>
      </div>

      <h3>Here is your warranty information</h3>


      <div class="card">

        <div class="warranty-details">
          <ion-row>
            <ion-col size="6" style="width: 100% !important">

              <qrcode [qrdata]="qrCode" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
            </ion-col>
            <ion-col size="6">
              <h3>Warranty No.</h3>
              <p style="font-weight: bold;">W-0123411234</p>
              <h3>Expire Date</h3>
              <p style="font-weight: bold;">12 Oct 2025</p>
            </ion-col>
          </ion-row>

          <h2>Device Information</h2>

          <ion-row>
            <ion-col size="4">
              <h6> Device Type</h6>
              <p style="font-weight: bold;">Headphone</p>
            </ion-col>
            <ion-col size="4">
              <h6>Reg No.</h6>
              <p style="font-weight: bold;">GJ 018281 911</p>
            </ion-col>
            <ion-col size="4">
              <h6>Brand</h6>
              <p style="font-weight: bold;">Excel</p>
            </ion-col>

          </ion-row>
        </div>

      </div>

      <p>Follow Below steps to request your warranty claim.</p>

      <p>1. Go to my My Account. <br> 2. Tap on Request Claim. <br> 3. Enter Information and Send Claim Request.</p>


      <ion-button expand="block" shape="round" color="light" class="ion-margin-top">Confirm</ion-button>


      <div class="img-card ion-margin-top" *ngIf="isCardVisible">
        <fa-icon [icon]="icons.faXmark" class="Xmark-icon" (click)="hideCard()"></fa-icon>
        <ion-img src="../../assets/images/poster.jpg"></ion-img>
      </div>

      <swiper-container class="mySwiper ion-margin-top" pagination="true" [loop]="true" autoplay-delay="2500"
        autoplay-disable-on-interaction="false">
        <swiper-slide><ion-img src="../../assets/images/poster2.jpg"></ion-img></swiper-slide>
        <swiper-slide><ion-img src="../../assets/images/poster3.jpg"></ion-img></swiper-slide>
        <swiper-slide><ion-img src="../../assets/images/poster4.jpg"></ion-img></swiper-slide>

      </swiper-container>

      <ion-row>
        <ion-col size="6" class="glass-card">
          <ion-img src="../../assets/images/product01.jpg"></ion-img>
          <h5>Product 01</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing e</p>
          <p>৳1200</p>
        </ion-col>
        <ion-col size="6" class="glass-card">
          <ion-img src="../../assets/images/product02.jpg"></ion-img>
          <h5>Product 02</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing e</p>
          <p>৳1200</p>
        </ion-col>
        <ion-col size="6" class="glass-card">
          <ion-img src="../../assets/images/product01.jpg"></ion-img>
          <h5>Product 03</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing e</p>
          <p>৳1200</p>
        </ion-col>
        <ion-col size="6" class="glass-card">
          <ion-img src="../../assets/images/product02.jpg"></ion-img>
          <h5>Product 04</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing e</p>
          <p>৳1200</p>
        </ion-col>
      </ion-row>



    </div>



    <!-- <ion-button id="open-modal" expand="block">Open</ion-button> -->
    <!-- <p>{{ message }}</p> -->
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()" shape="round"><ion-icon name="close-sharp"
                  style="color: #2e2e2e;"></ion-icon></ion-button>
            </ion-buttons>
            <ion-title>YOUR CART</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product02.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Wavefun A05</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../assets/images/product01.jpg"></ion-img>
              </ion-col>
              <ion-col size="9">
                <h3 style="margin: 0;">Excel E65 Pro</h3>
                <p>৳1100 x 1 = ৳1100</p>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash-bin-sharp" style="color: #2e2e2e; font-size: 25px;"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-content>

        <ion-footer>
          <ion-toolbar class="class=" ion-justify-content-center>
            <ion-item class="class=" ion-align-items-center>
              <h1>Total - XXXXX</h1>

            </ion-item>
            <ion-item>
              <ion-button expand="block" fill="clear" shape="round">
                Click me
              </ion-button>
            </ion-item>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>

    <!-- slider -->

    <!-- <swiper-container>
      <swiper-slide>
        <ion-img src="../../assets/images/poster.jpg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="../../assets/images/poster.jpg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="../../assets/images/poster.jpg"></ion-img>
      </swiper-slide>
  
    </swiper-container> -->




    <!-- 
    <h1>My name is saifur</h1> -->





  </ion-content>
</div>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button shape="round" fill="clear">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  </ion-content>
</ion-menu>