<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Virtual Warranty Card</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding card-container" >
    <div class="card" style="background-color: rgb(235, 235, 235);">
      <div class="profile-header">
        <ion-icon name="person-circle-outline"></ion-icon>
        <div class="profile-info">
          <h2>Tarik Bin Mashud</h2>
          <p>01752123140</p>
        </div>
      </div>
  
      <div class="status-section">
        <h1>Platinum Star</h1>
        <p>In GP Network Since:</p>
        <p>Oct, 2017</p>
      </div>
  
      <div class="rewards-section">
        <ion-button expand="block" shape="round" color="light">View Rewards</ion-button>
        <div class="network-info">
          <span class="badge">Prepaid</span>
          <span class="badge">4G</span>
        </div>
      </div>
    </div>

    <h3>Here is your warranty information</h3>


    <div class="card">

      <div class="warranty-details">
        <ion-row>
          <ion-col size="6">
            <img src="../../assets/images/QRcodes.png" alt="code">
          </ion-col>
          <ion-col size="6">
            <h3>Warranty No.</h3>
            <p style="font-weight: bold;">W-0123411234</p>
            <h3>Expire Date</h3>
            <p style="font-weight: bold;">12 Oct 2025</p>
          </ion-col>
        </ion-row>

        <h2>Device Information</h2>

        <ion-row>
          <ion-col size="4">
            <h6> Device Type</h6>
            <p style="font-weight: bold;">Headphone</p>
          </ion-col>
          <ion-col size="4">
            <h6>Reg No.</h6>
            <p style="font-weight: bold;">GJ 018281 911</p>
          </ion-col>
          <ion-col size="4">
            <h6>Brand</h6>
            <p style="font-weight: bold;">Excel</p>
          </ion-col>
          
        </ion-row>
      </div>

    </div>

    <p>Follow Below steps to request your warranty claim.</p>

      <p>1. Go to my My Account. <br> 2. Tap on Request Claim. <br> 3. Enter Information and Send Claim Request.</p>


    <ion-button expand="block" shape="round" color="light" class="ion-margin-top">Confirm</ion-button>


    <div class="img-card ion-margin-top" *ngIf="isCardVisible" >
      <fa-icon [icon]="icons.faXmark" class="Xmark-icon" (click)="hideCard()"></fa-icon>
      <ion-img src="../../assets/images/poster.jpg"></ion-img>
    </div>


  </ion-content>
  
</ion-content>
