<div class="ion-page" id="main-content">
  <!-- nav header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-avatar aria-hidden="true" slot="start" (click)="showNav()"
          style="width: 40px; height: 40px; margin-left: 20px;">
          <img alt="company-logo" src="../../assets/images/rimloo_logo.png" style="cursor: pointer;" />
        </ion-avatar>
        <ion-menu-button style="display: none;" id="navBar"></ion-menu-button>
      </ion-buttons>
      <ion-title>Excel Electronics</ion-title>

      <!-- css badge -->
      <ion-buttons slot="end" class="cart-container">
        <ion-button shape="round" fill="clear" id="open-modal" (click)="cardClick()">
          <ion-icon slot="icon-only" name="cart-sharp"></ion-icon>

          <!-- Notification Badge -->
          <div class="cart-badge" *ngIf="cart.length > 0">
            <!-- <script>console.log("hello")</script> -->

            {{ cart.length }}
          </div>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- card content -->
  <ion-content>

    <!-- warranty card -->
    <div class="card" *ngIf="false">
      <div class="card-inner">
        <div class="card-front">
          <div>
            <div class="ion-justify-content-between flex ion-align-items-center ion-margin-top" style="display: flex;">
              <h3> Virtual Warranty Card</h3>
              <ion-img src="../../assets/icon/favicon.png" style="height: 30px;"></ion-img>
            </div>
            <ion-row id="warrantyCard">
              <span *ngIf="isQrCodeSizeUpdated == false"> {{updateQrCodeWidth()}}</span>
              <ion-col size="4" *ngIf="isQrCodeSizeUpdated">
                <qrcode [qrdata]="qrCode" [errorCorrectionLevel]="'M'" class="custom-qr" [width]="qrCodeWidth"
                  [margin]="1">
                </qrcode>
              </ion-col>
              <ion-col size="8" class="card-info">
                <p>Excel E06</p>
                <p style="color: white; font-size: 20px;">1201-1299-12393</p>
              </ion-col>
            </ion-row>
            <div class="exp-date ion-margin-top">
              <h5>Exp</h5>
              <h3>12/25</h3>
            </div>
          </div>
        </div>
        <div class="card-back">
          <p>Follow Below steps to request your warranty claim.</p>
          <p>1. Go to my My Account. <br> 2. Tap on Request Claim. <br> 3. Enter Information and
            Send Claim Request.</p>
        </div>
      </div>
    </div>

    <div class="ion-padding card-container">
      <!-- warranty card -->
      <ion-card style="margin-top: -45px !important;
      padding-top: 50px;
      margin-left: -25px;
      margin-right: -25px;">
        <img src="../../assets/images/04162020_iPhone_SE_STORY_LEVEL_BANNER_1600x483.jpg" class="card-bg-image">
        <ion-row id="warrantyCard">
          <span *ngIf="isQrCodeSizeUpdated == false"> {{updateQrCodeWidth()}}</span>
          <ion-col sizeXs="4" sizeSm="5" sizeMd="4">
            <qrcode [qrdata]="qrCode" [errorCorrectionLevel]="'M'" class="custom-qr" [width]="qrCodeWidth" [margin]="1">
            </qrcode>
            <span style="margin-left: 15px;">125412586ED</span>
          </ion-col>
          <ion-col sizeXs="8" sizeSm="7" sizeMd="8">
            <div style="margin-left: 10px;">
              <h3>Warranty Card</h3>
              <p>125412586ED</p>
              <p class="card-status">Active</p>
              <br>
              <p style="font-weight: 700;
      color: #4d4a4a">Excel E100 Charger</p>
              <table>
                <tr>
                  <td>Brand </td>
                  <td>: RIMLO</td>
                </tr>
                <tr>
                  <td>Purchase </td>
                  <td>: 20-01-2014</td>
                </tr>
                <tr>
                  <td>Expire </td>
                  <td>: 20-01-2014</td>
                </tr>
              </table>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- banner -->
      <div class="img-card ion-margin-top" *ngIf="false">
        <fa-icon [icon]="icons.faXmark" class="Xmark-icon" (click)="hideCard()"></fa-icon>
        <ion-img src="../../assets/images/poster.jpg"></ion-img>
      </div>

      <!-- gallery carousel -->
      <swiper-container class="mySwiper ion-margin-top" pagination="true" [loop]="true" autoplay-delay="2500"
        autoplay-disable-on-interaction="false">
        <swiper-slide><ion-img src="../../assets/images/poster2.jpg"></ion-img></swiper-slide>
        <swiper-slide><ion-img src="../../assets/images/poster2.jpg"></ion-img></swiper-slide>
        <swiper-slide><ion-img src="../../assets/images/poster2.jpg"></ion-img></swiper-slide>
      </swiper-container>

      <!-- product list -->
      <ion-row class="ion-margin-top">
        <ion-col size="6" class="ion-no-margin" *ngFor="let product of products; let i=index"
          (click)="addToCart(product)" (click)="setOpen(true)">
          <ion-card class="store-products">
            <img src="../../assets/images/product01.jpg" class="margin-bottom">
            <h5 style="font-size: 15px;">{{product.name}}</h5>
            <p class="margin-bottom">{{product.description}}</p>
            <h5>৳{{product.price}}</h5>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- toast message -->
      <ion-toast [isOpen]="isToastOpen" message="Product added to your shopping cart!" [duration]="2000"
        (didDismiss)="setOpen(false)"></ion-toast>
    </div>

    <!-- modal -->
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <!-- modal details -->
      <div class="cart">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button *ngIf="showCart" (click)="cancel()" shape="round" slot="icon-only"><ion-icon
                    slot="icon-only" name="close-sharp" style="color: #2e2e2e;"></ion-icon></ion-button>
              </ion-buttons>
              <ion-buttons slot="start">
                <ion-button *ngIf="!showCart" (click)="showCart = true" shape="round" slot="icon-only">
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>{{showCart? 'Your Cart': 'Customer Information'}}</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">

            <!-- cart -->
            <div [style]="showCart == false ? 'display: none' : 'display: block'">
              <h4 *ngIf="cart.length==0" style="text-align: center;">Your shopping cart is empty!</h4>
              <ion-items>
                <ion-item *ngFor="let item of cart">
                  <ion-avatar slot="start">
                    <img src="../../assets/images/product01.jpg" />
                  </ion-avatar>
                  <ion-label>{{
                    item.name
                    }}
                    <P>৳{{item.price}} x {{item.quantity}} = ৳{{item.totalPrice}}</P>
                  </ion-label>
                  <ion-buttons>
                    <ion-button style="background: #ff00000d; border-radius: 100%;" shape="round" color="danger"
                      (click)="removeFromCart(item)">
                      <ion-icon slot="icon-only" name="trash-bin-sharp"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-items>
            </div>

            <!-- customer data -->
            <div class="customer-info" [style]="showCart == true ? 'display: none' : 'display: block'">
              <form [formGroup]="customerForm">
                <ion-row>
                  <ion-col size="6" class="padding-right">
                    <ion-label position="floating">First Name*</ion-label>
                    <ion-input type="text" class="input-item" formControlName="firstName"></ion-input>
                  </ion-col>
                  <ion-col size="6" class="ion-no-padding">
                    <ion-label position="floating">Last Name*</ion-label>
                    <ion-input type="text" class="input-item" formControlName="lastName"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-label position="floating">Address*</ion-label>
                <ion-input type="text" class="input-item" formControlName="address"></ion-input>

                <ion-label position="floating">Mobile*</ion-label>
                <ion-input type="tel" class="input-item" formControlName="mobileNumber"></ion-input>

                <ion-label position="floating">Email*</ion-label>
                <ion-input type="email" class="input-item" formControlName="email"></ion-input>

                <ion-row>
                  <ion-col size="6" class="padding-right">
                    <ion-label position="floating">City*</ion-label>
                    <ion-input type="text" class="input-item" formControlName="city"></ion-input>
                  </ion-col>
                  <ion-col size="6" class="ion-no-padding">
                    <ion-label position="floating">Zone</ion-label>

                    <ion-select interface="popover" placeholder="Select Zone" class="input-item" formControlName="city">
                      <ion-select-option value="dhaka">Dhaka City</ion-select-option>
                      <ion-select-option value="ctg">Chittagong City</ion-select-option>
                      <ion-select-option value="sylhet">Sylhet City</ion-select-option>
                      <ion-select-option value="khulna">Khulna City</ion-select-option>
                      <ion-select-option value="others">Others</ion-select-option>
                    </ion-select>
                    
                  </ion-col>
                </ion-row>

                <ion-label position="floating" formControlName="comment">Comment</ion-label>
                
                <ion-textarea class="input-item"></ion-textarea>
                
                <!-- .div$*4 -->
              </form>
            </div>
          </ion-content>

          <div *ngIf="showCart; else customerDetails">
            <ion-item lines="none" style="text-align: center; justify-content: center;">
              <h1>Total - ৳{{ cartTotal }}</h1>
            </ion-item>

            <ion-button expand="block" fill="solid" color="primary"
              style="margin: 0; height: 58px; background: #ff5722;" (click)="openCustomerReg()">
              Proceed
            </ion-button>
          </div>

          <ng-template #customerDetails>
            <ion-button expand="block" fill="solid" color="primary"
              style="margin: 0; height: 58px; background: #ff5722;" (click)="presentAlert()">
              Confirm Order
            </ion-button>

          </ng-template>

        </ng-template>
      </div>

    </ion-modal>

  </ion-content>
</div>

<!-- nav menu -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button shape="round" fill="clear">
            <ion-icon slot="icon-only" name="arrow-back" color="secondary"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item style="margin-bottom: 20px;">
        <ion-avatar style="margin-left: -10px;" aria-hidden="true" slot="start" class="square-ion-avatar">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Saifur Rahaman
          <span style="color: #818181;
          font-size: 12px;
          margin-bottom: 0px;">saifurrahaman&#64;gmail.com</span>

        </ion-label>
      </ion-item>
      <ion-item button lines="none">
        <ion-icon class="side-nav-icon" aria-hidden="true" name="refresh-circle" slot="start"
          color="primary"></ion-icon>
        <ion-label>Reload</ion-label>
      </ion-item>

      <ion-item button lines="none" (click)="navigateHistory()">
        <ion-icon class="side-nav-icon" aria-hidden="true" name="home" slot="start" color="primary"></ion-icon>
        <ion-label>Order History</ion-label>
      </ion-item>

      <ion-item button lines="none" (click)="navigateCards()">
        <ion-icon class="side-nav-icon" aria-hidden="true" name="card" slot="start" color="primary"></ion-icon>
        <ion-label>Cards</ion-label>
      </ion-item>

      <ion-item button lines="none">
        <ion-icon class="side-nav-icon" aria-hidden="true" name="log-out" slot="start" color="primary"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>